<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Категория - {{ category.title }}</title>
    </head>
    <body>

        <h1>{{ category.title }}</h1>

        <div>

            {{ category.content }}

        </div>

    </body>
</html>