{% extends 'base.html.twig' %}

{% block title %}Редактируем категорию{% endblock %}

{% block body %}
    <h1><strong>Редактируем категорию</strong></h1>
    <hr />

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('category_index') }}">Назад</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
