{% extends 'base.html.twig' %}

{% block title %}Редактируем товар{% endblock %}

{% block body %}
    <h1><strong>Редактируем товар</strong></h1>
    <hr />

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('product_index') }}">Назад</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
