{% extends 'base.html.twig' %}

{% block title %}Новый товар{% endblock %}

{% block body %}
    <h1><strong>Новый товар</strong></h1>
    <hr />

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('product_index') }}">Назад</a>
{% endblock %}
